@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  margin: 0;
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}


.free{
  background-color: #65d1e6;
  text-align: center;
  padding: 5px 0;
  color: white;
  font-size: 12px;
}

.search { 
  position: relative;
  display: flex;
  margin-left: 30px;
  width: 40%;
}

.searchTerm {
  width: 100%;
  border: 3px solid #ececec;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
  font-size: 15px;
}

.searchTerm:focus{
  color: #282828;
}

.searchButton {
  width: 40px;
  height: 46px;
  border: 1px solid #65d1e6;
  background: #65d1e6;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
 
}



/*.main-header{
  position: sticky;
  top: 0;
  display: block;
}*/

/*Resize the wrap to see the search bar change!*/

/*open css header*/
.header{
  max-width: 1600px;
  max-height: 70px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 15px 85px;
  background-color: white;
}

.header .title img{
  width: 100%;
}

.header .title{
  margin-left: 60px;
}

.form-login{
  display: flex;
  margin-left: 40px;
}

.form-login-content > div a{
  text-decoration: none;
  
}

.form-login >div{
  margin-left: 13px;
}

.form-login .item-icon i{
  font-size: 30px;
  padding-top: 8px;
  color: black;
}


.form-login-content .sign-in a{
  color: #8e9291;
  font-size: 15px;
}

.form-login-content .acount a{
  color: #252a2b;
  font-size: 16px;
}

.carts{
  margin-left: 30px;
}

.carts ul{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.fa, .fas {
    font-family: "Font Awesome 5 Pro";
}

.carts ul li a{
  display: block;
  color: #252a2b;
  font-size: 16px;
  text-decoration: none;
}

.carts ul li a i{
  font-size: 20px;
}

.carts ul li{
  margin-left: 10px;
}

.nav{
  background-color: white;
  position: relative;
}

.nav ul{
  margin: 0;
  padding-top: 30px;
  padding-left: 90px;
  display: flex;
  list-style-type: none;
}

.nav ul li a{
  display: block;
  color: #252a2b;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  border: 1px solid white;
  padding-bottom: 10px;
}

.nav ul li a:hover{
  color: #65d1e6;
  border-bottom: 1px solid #828282;
}


.nav-chinh li#all-product{
  position: relative;
}

.nav-chinh ul.all-control{
  
  
  /*width: 150px;*/
  position: absolute;
  left: -127px;
  top: 6px;
  display: none;
}

.nav .all-control li{
  border: 1px solid #f5f5f5;
  padding: 8px 41px 4px 10px;
  width: 89px;
  background-color: white;
}

.nav-chinh ul.all-control a{
  font-size: 13px;
}

.nav-chinh ul.all-control li:hover a{
  border-bottom: none;
}

.nav-chinh ul.all-control li a:hover::after{
  width: 0%;
}

.nav-chinh li:hover ul.all-control{
  display: block;
}

.nav ul li{
  margin-left: 35px;
}

/*close css header*/

.content{
  background-color: white;

}

/*open css footer*/

.footer{
  position: relative;
  margin-top: 12px;
  margin-bottom: 30px;
}

.footer .contact{
  display: flex;
  
  background-color: #f3f3f3;
}

.footer .contact .register{
  display: flex;
  margin-left: 80px;

}

.footer .contact .register-title{
  margin-left: 10px;
  padding-top: 6px;
}

.footer .contact .register-icon{
  font-size: 25px;

}

.footer .contact .search-email{
  width: 50%;
  top: -1px;
}

.save-email{
  width: 16%;
  height: 43px;
  border: 1px solid #65d1e6;
  background: #65d1e6;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 17px;
  position: relative;
}

.save-email a{
  text-decoration: none;
  color: #fff;
  position: absolute;
  top: 3px;
  left: 8px; 
  padding: 5px 10px;
}
.footer .contact .call{
  display: flex;
  margin-left: 55px;
}

.footer .contact .call .call-icon{
  font-size: 25px;
}

.footer .contact .call .call-title{
  margin-left: 10px;
  padding-top: 6px;
}

.call-phone{
  color: darkred;
}


.footer .introduc{
  display: flex;
  margin-top: 25px;
  padding-bottom: 35px;
  border-bottom: 1px solid gray;
  background-color: #ffffff;
}

.footer .introduc-title{
  margin-top: 60px;
  margin-bottom: 35px;
}

.footer .introduc .introduc-content{
  margin-left: 105px;
  margin-right: 60px;
  width: 470px;
}

.footer .introduc .introduc-content .introduc-logo a img{
  margin-top: 20px;
}

.footer .introduc .introduc-list ul{
  list-style-type: none;
  padding-left: 1px;
  margin-right: 105px;

}

.footer .introduc .introduc-list ul li{
  color: black;
  font-size: 16px;
  padding-bottom: 15px;
}

.footer .introduc .introduc-list ul li a{
  text-decoration: none;
  color: black;
}

.footer .introduc .introduc-list ul li a:hover{
  color: #65d1e6;
}

.footer .introduc .introduc-link{

}

.footer .introduc .introduc-contact{

}

.footer .introduc .introduc-fanpage{

}

.copyright{
  text-align: center;
  font-size: 14px;
  font-weight: 50;
  margin-top: -16px;
  margin-bottom: 16px;
}

.copyright i{
  font-size: 10px;
}

.copyright a{
  text-decoration: none;
  color: black;
}

.copyright a:hover{
  color: #65d1e6;
}

/*close css footer*/



.navigation{
  background-color: #f3f3f3;
  font-size: 13px;
  padding: 0px 120px;
}

.navigation ul{
  list-style-type: none;
  display: flex;
  margin-left: -45px;
}

.navigation ul li a{
  text-decoration: none;
  color: black;
}

.navigation ul li{
  margin-left: 10px;
  color: gray;
}

.navigation ul li a:hover{
  color: #65d1e6;
}
/*open css content chi tiết sản phẩm*/
.content-cart {
  display: flex;
  padding-top: 40px;
  padding-left: 260px;
}

.content-cart .sanpham{
  padding-right: 100px;
}

.content-cart .thongtin{
  max-width: 550px;
}

.content-cart .thongtin .tt-title {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 25px;
  font-size: 15px;
}

.content-cart .thongtin .tt-price{
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 22px;
  padding-top: 22px;
  color: red;
  font-size: 20px;
  font-weight: 700;
}

.content-cart .thongtin .tt-size ul{
  list-style-type: none;
  display: flex;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 15px;
}

.content-cart .thongtin .tt-size ul li{
  margin-left: -41px;
  margin-right: 51px;

}

.content-cart .thongtin .tt-size ul li button#size{
  width: 50px;
  height: 40px;
  background-color: white;
  font-size: 17px;
  font-weight: 600;
  border: 1px solid #f5f5f5;
}

.content-cart .thongtin .tt-size ul li button#size:focus{
  color: white;
  background-color: black;
}



.content-cart .thongtin .tt-cart .number-product{
  position: relative;
  display: inline-block;
  margin-left: 0px;
}
.content-cart .thongtin .tt-cart .number-product strong{
  height: 29px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #f5f5f5;
  position: absolute;
  width: 55px;
  right: -95px;
  bottom: -6px;
}

.content-cart .thongtin .tt-cart .number-product strong:focus{
 outline: unset;
}

.content-cart .thongtin .tt-cart .number-product button.cong{
  position: absolute;
  top: -25px;
  right: -38px;
  width: 40px;
  height: 31px;
  background-color: #f5f5f5;
  font-size: 21px;
  font-weight: bold;
  border: 1px solid #f5f5f5;
}

.content-cart .thongtin .tt-cart .number-product button.tru{
  bottom: -6px;
  position: absolute;
  right: -135px;
  width: 40px;
  height: 31px;
  background-color: #f5f5f5;
  font-size: 21px;
  font-weight: bold;
  border: 1px solid #f5f5f5;
}

.content-cart .thongtin .tt-cart .add .add-cart{
  width: 535px;
  height: 60px;
  text-align: center;
  color: white;
  background-color: #64d1e6;
  font-size: 15px;
  margin-left: -30px;
  border: 1px solid #f5f5f5;
}



.tt-mota p{
  margin-bottom: -5px;
}

.content-cart .thongtin .tt-cart .add{
  margin-top: 20px;
  margin-left: 30px;
}

.content-product{
  display: flex;
}

.products-name a{
  text-align: center;
  color: #252a2b;
  font-size: 50px;
  text-decoration: none;

}

.products{
  position: relative;
}

.products-name {
  text-align: center;
  padding: 60px;
}

 .products-name a:hover{
  color: #65d1e6;
}

.list-product{
  display: flex;
  margin: 0 55px;
}

.list-product .item{
  width: calc((100% )/5);
  margin-left: 25px;
  position: relative;
}

.list-product .item:hover img{
  transform: scale(1.05);/*tang kich thuoc anh khi tro vao*/
  transition: 1s;/*thoi gian chuyen dong*/
}

.list-product .item .item-sale{
  position: absolute;
  font-size: 12px;
  color: red;
  left: 10px;
  top: 10px;
  font-weight: bold;
  margin: 0;
  border: 1px solid #cccccc;
  padding: 3 6px;
  background-color: white;
}

.list-product .item .item-images a img{
  height: 250px;
  padding-bottom: 20px;
  object-fit: cover;
  object-position: 50% 0%;
}

.list-product .item .item-content a{
  text-decoration: none;
  color: #252a2b;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: -15px;
  padding-top: 25px;
}

.list-product .item .item-content a:hover{
  color: #65d1e6;
}

.item .item-content .price{
  display: flex;
}

.item .item-content .price h4{
  color: red;
}

.item .item-content .price h5{
  margin-left: 10px;
  color: gray;
  text-decoration: line-through;
}



/*close css content giới thiệu*/